/******************** CSS Layout for MAIN section    *********************/
#main-container {
    /* background-color: rgba(26, 104, 91, 0.05); */
    /* background-color: rgba(255, 172, 0, 0.1); */
}
#introduction-section {
    display: flex;
    background-image: url("/static/image/backgound/background (1).png");
    border-radius: 2rem 6rem 10rem 6rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(51, 51, 51, 0.3);
}

.illustrative-images {
    display: flex;
    max-width: 50%;
    margin: 1rem;
}

/* Create two equal columns of images */
.illustrative-images .column {
    flex: 50%;
    max-width: 50%;
    padding: 0 0.25rem;
}

.illustrative-images .column img {
    margin-top: 0.5rem;
    vertical-align: middle;
    width: 100%;
    border-radius: 0.5rem;
}

.intro-content {
    padding: 0 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    /* line-height: 1.6; */
}

.intro-content h2 {
    color: #1a685b;
}

.intro-content p {
    color: #333;
}

.total-numbers-container {
    display: flex;
    justify-content: center;
    gap: 5rem;
    /* padding: 0 20rem; */
}

.total-numbers-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(51, 51, 51, 0.3);
    color: whitesmoke;
}

#number-1 {
    background-image: linear-gradient(to bottom, #76ce45, #3dce75);
    margin: 0.5rem 0.5rem 3rem 0.5rem;
}

#number-2 {
    background-image: linear-gradient(to bottom, #ff6543, #fe9e14);
    margin: 3rem 0.5rem 0.5rem 0.5rem;
}

#number-3 {
    background-image: linear-gradient(to bottom, #11c2bc, #39a8e5);
    margin: 0.5rem 0.5rem 3rem 0.5rem;
}

#number-4 {
    background-image: linear-gradient(to bottom, #ef57b6, #f75179);
    margin: 3rem 0.5rem 0.5rem 0.5rem;
}

.detail-container {
    display: flex;
    background-image: url("/static/image/backgound/background (1).png");
    border-radius: 2rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(51, 51, 51, 0.3);
    color: #333;
}

.detail {
    margin: 2rem;
    display: block;
}

.detail h2 {
    color: #1a685b;
    margin: 1rem;
    text-align: center;
    font-family: Lobster, sans-serif;
}

.detail img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.5rem;
    box-shadow: 0.25rem 0.25rem 0.25rem rgba(51, 51, 51, 0.3);
}

.detail p {
    color: #333;
    line-height: 1.6;
    margin: 1rem;
    text-align: justify;
}

/* CSS Layout for Green Board */
#implementation-section {
    align-items: center;
    line-height: 1.6;
    text-align: justify;
}
#implementation-section h2, h3 {
    text-align: center;
    color: #1a685b;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
}

.step-lists {
    padding: 1rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    gap: 1rem;
    width: 100%;
    height: auto;
    border-radius: 2rem;
    border: 1rem solid transparent;
    background: linear-gradient(#29a38f, #1f7a6b) padding-box,
        linear-gradient(to right, #ff9900 0%, #996600 100%) border-box;
    box-shadow: inset -0.125rem 0.25rem 0.25rem #404040, 0.25rem 0.25rem 0.25rem rgba(51, 51, 51, 0.3);
}

.step-card {
    margin: 1rem;
    padding: 1rem;
    background-image: url("/static/image/backgound/background (1).png");
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;
}

.step-card img {
    position: relative;
    top: 0;
    left: 0;
    height: 3rem;
    width: 3rem;
    border: none;
}


/* Larger desktops and monitors are default layout ----------- */
@media only screen and (max-width : 1700px) {
    
}

/* Laptops, larger tablets in landscape, and small desktops -- */
@media only screen and (max-width : 1360px) { /* 1280px */
    .sections {margin: 1.5rem 10vw;}
}

@media only screen and (max-width : 1200px) {
    /* Main */
    #introduction-section {
        flex-direction: column-reverse;
        border-radius: 2rem;
    }
    .illustrative-images {max-width: 100%;}
    .total-numbers-container {gap: 1rem;}
    .detail-container {flex-direction: column;}
    .step-lists {grid-template-columns: repeat(2, 1fr);}
}

/* Tablets & larger smartphones ------------------------------ */
@media only screen and (max-width : 900px) {
    .total-numbers-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        margin: 0 15vw;
    }
    .step-lists {
        grid-template-columns: repeat(1, 1fr);
    }    
}

/* Smaller Smartphones ---------------- */
@media only screen and (max-width : 680px) {
    #main-header {    
        flex-wrap: wrap;
        justify-content: space-between;
    }
}