#user-list-main-section {
    position: relative;
    margin-top: 4rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: whitesmoke;
    min-height: calc(100vh - 10rem);
    width: 100%;
}

#add-user-btn {
    position: relative;
    width: 11rem;
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    background-color: #1a685b;
    color: white;
    text-align: center;
}

.user-list-search-container {
    position: relative;
    display: flex;
    gap: 1rem;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    justify-content: center;
}

#user-list-search-btn {
    position: relative;
    width: 7rem;
    padding: 0.8rem 0.5rem;
    border-radius: 5px;
    background-color: #1a685b;
    color: white;
    text-align: center;
}

.user-list-table-container {
    position: relative;
    background-color: #fff;
    width: 100%;

}

.user-table {
    width: 100%;
    border-collapse: collapse;

}
.user-table thead {
    background: #1a685b;
    color: #fff;
}

.user-table thead tr th {
   font-size: 0.9rem;
   padding: 0.8rem;
   vertical-align: top;
   border: 1px solid #aab7b8;
}
.user-table tbody tr td {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #aab7b8;
    padding: 0.8rem;
}
.user-table tr:nth-child(even) {
    background: #ebfaf7;
}
.user-table tr:hover td {
    background: #1a685b71;
    color: #000;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.edit-user-btn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0.4rem;
    border: none;
    border-radius: 1px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .user-table thead {
        display: none;

    }
    .user-table tr, .user-table td {
        display: block;
        width: 100%;
    }
    .user-table tr {
        margin-bottom: 1rem;

    }
    .user-table tbody tr td {
        text-align: right;
        position: relative;
    }
    .user-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 1rem;
    }
}