#userslist-main-section {
    position: relative;
    margin-top: 4rem;    
    background: whitesmoke;
    min-height: calc(100vh - 10rem);
    width: 100%;
    display: flex;
}
#userslist-left-side-pannel {
    min-height: inherit;
}
.userslist-content-section {
    position: relative;
    margin: 1rem auto;
    padding: 2rem;
    background-color: white;
    border: 1px solid  #aab7b8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    /* max-width: 1440px; */
}
.userslist-title {
    position: relative;    
    width: 100%;
    color: #1a685b;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
.userslist-action-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 0.25rem;
}
.input-search-text {
    flex-grow: 1;
}
.input-search-text, .input-search-filter {
    border: 1px solid  #aab7b8;
    padding: 0.25rem 0.75rem;
}

#open-form-add-user-btn, #userslist-search-btn {
    position: relative;
    padding: 0.8rem 1rem;
    border-radius: 5px;
    background-color: #1a685b;
    color: white;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.3);
}

.user-list-table-container {
    position: relative;
    background-color: #fff;
    width: 100%;
    border: 1px solid  #aab7b8;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.3);
}

.user-table {
    width: 100%;
    border-collapse: collapse;

}
.user-table thead {
    background: #1a685b;
    color: #fff;
}

.user-table thead tr th {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    vertical-align: top;
    border: 1px solid #aab7b8;
}
.user-table tbody tr td {
    font-size: 0.9rem;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #aab7b8;
    padding: 0.5rem 1rem;
}
/* .user-table tr:nth-child(even) {
    background: #ebfaf7;
} */
.user-table tr:hover td {
    background: #1a685b71;
    color: #000;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

.edit-user-btn {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.3);
}

.add-new-user-form-container, .edit-user-form-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.5rem;
    background-color: white;
    width: max-content;
    /* height: max-content; */
    min-width: 310px;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 8px;
    color: #333;

}

.form-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1a685b;
    grid-column: 1 / span 2;
    text-align: center;
}
.button-group {
    position: relative;
    display: flex;
    justify-content: space-around;
    grid-column: 1 / span 2;
}
.button-group button {
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(51, 51, 51, 0.3);
}
.button-group button i {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.submit-btn {
    background-color: #1a685b;
    color: white;
}

.active span {
    color: darkgreen;
    background-color: #e6ffe6;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}
.inactive span {
    color: darkred;
    background-color: #ffcccc;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
}

@media (max-width: 768px) {
    .user-table thead {
        display: none;

    }
    .user-table tr, .user-table td {
        display: block;
        width: 100%;
    }
    .user-table tr {
        margin-bottom: 1rem;

    }
    .user-table tbody tr td {
        text-align: right;
        position: relative;
    }
    .user-table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        text-align: left;
        padding-left: 1rem;
    }
    .user-table tr:nth-child(even) {
        background: whitesmoke;
    }
}