* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #fff;
}

button {
    cursor: pointer;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: none;
    /* Tạo hiệu ứng chuyển động mượt mà */
    transition: background-color 0.3s ease-in-out;
}

a {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
}

input,
textarea,
label,
select {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
}

label {font-weight: bold;}
input {border: 1px solid #e5e5e5;}

p {
    line-height: 1.6;
}

.sections {
    margin: 2rem 15vw;
}

.small-icons {
    height: 2rem;
    width: 2rem;
    border: none;
}

.large-icons {
    height: 3rem;
    width: 3rem;
    border: none;
}



/*Responsive Styles*/
.testing {
    background-color: #1a685b;
    display: block;
    width: auto;
    height: auto;
    display: none;
}

/* Larger desktops and monitors are default layout ----------- */
@media only screen and (max-width : 1700px) {
    
}

/* Laptops, larger tablets in landscape, and small desktops -- */
@media only screen and (max-width : 1360px) { /* 1280px */
    .sections {margin: 1.5rem 10vw;}
}

@media only screen and (max-width : 1200px) {
    
}

/* Tablets & larger smartphones ------------------------------ */
@media only screen and (max-width : 900px) {
   
}
/* Smaller Smartphones ---------------- */
@media only screen and (max-width : 680px) {
    html {
        font-size: 13px;
    }
}