/******************** CSS Layout for HEADER section *********************/
#main-header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    margin: 0;
    padding: 1.25rem;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 1);
}

.logo-container {
    position: relative;
    padding: 0.25rem 0.5rem;
    min-width: 14rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: navy;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
    /* font-family: Lobster, sans-serif; */
}
.logo-text:hover, .logo-img:hover {
    cursor: pointer;
}

.nav-container {
    position: relative;
    display: flex;
    background-color: #1a685b;
    border-radius: 2rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}
.nav-container a {
    display: block;
    position: relative;
    padding: 1rem;
    color: #fff;
    min-width: 6rem;
}
.nav-container a:hover {
    color: #ffac00;
    transform: scale(1.01);
}
/* hidden by default */
.nav-dropdown-container {
    position: relative;
    display: none;
}
#nav-dropdown-btn {
    color: white;
    background-color: #1a685b;
    padding: 1rem;
    min-width: 8rem;
}

/* hidden by default */
.nav-dropdown-list {
    display: none; 
    position: absolute;
    background-color: #1a685b;
    min-width: 8rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: inherit;
}
.nav-dropdown-list a {
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
}

#nav-dropdown-btn:hover {background-color: #ffac00;}
.show {display: block;}

.register-btn-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.register-btn {
    background-color: #ffac00;
    color: #fff;
    min-width: 15rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
}
.register-btn:hover {
    color: #ffac00;
    background-color: #1a685b;
}
/* hidden by default */
.register-dropdown-container {
    position: relative;
    display: none;
}
.register-dropdown-item {
    position: relative;
    display: block;
    min-width: 8rem;
    padding: 1rem;
    text-align: center;
    background-color: #ffac00;
    color: white;
    border-radius: 2rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
}
/* hidden by default */
.register-dropdown-list {
    display: none; 
    position: absolute;
    background-color: #1a685b;
    /* min-width: 18rem; */
    box-shadow: 0 0.5rem 1rem 0 rgba(0,0,0,0.2);
    z-index: inherit;
}
.register-dropdown-list a {
    color: white;
    padding: 0.5rem 1rem;
    width: 100%;
}

.register-dropdown-item:hover {background-color: #1a685b; color: #ffac00;}
.register-dropdown-container:hover .register-dropdown-list {display: block;}
.register-dropdown-list a:hover {background-color: #ffac00;}

.search-inner-container {
    display: flex;
    position: relative;
    padding-right: 0;
    border: 0.125rem solid rgba(0, 0, 0, 0.25);
    border-radius: 2rem;
    /* width: 10rem; */
    width: auto;
}
.search-input {
    border: none;
    padding-left: 1rem;
    background: none;
    width: 100%;
}
.search-btn {
    padding: 0.5rem;
    margin: 0;    
    border-radius: 2rem;
    float: right;
    background: none;
}
.search-input:focus-visible {
    outline: none;
}

/******************** CSS Layout for USER HEADER section *********************/
#user-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    height: 4rem;
    background: rgb(237, 245, 235);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.left-side-bar {
    position: relative;
    float: left;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.right-side-bar {
    position: relative;
    float: right;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.side-bar-menu-btn {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3125rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #d1d9e0;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
.avatar-img {
    border-radius: 3rem;
}

.user-search-container {
    position: relative;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.3125rem;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0);
}
.user-search-container input {
    border: none;
    margin: 0;
    padding-left: 0.5rem;
    background: none;
    width: 100%;
}
.user-search-container button {
    position: relative;
    float: right;
    margin: 0;
    padding: 0.25rem;
    background: none;
}
.user-search-container img, .notif-btn img {
    height: 1.5rem;
    width: 1.5rem;
}

.user-search-input:focus-visible {
    outline: none;
}


/* Larger desktops and monitors are default layout ----------- */
@media only screen and (max-width : 1700px) {
    .register-btn-container {display: none;}
    .register-dropdown-container {display: block;}
}

/* Laptops, larger tablets in landscape, and small desktops -- */
@media only screen and (max-width : 1360px) { /* 1280px */
    /* Header */
    .search-inner-container {width: auto;}
    .search-input {display: none;}    
}

@media only screen and (max-width : 1200px) {
    /* Header */
    .nav-container {display: none;}
    .nav-dropdown-container {display: block; margin-right: 1rem;}
    .register-dropdown-container {margin-right: 1rem;}
    .logo-container {flex-grow: 1;}
}

/* Tablets & larger smartphones ------------------------------ */
@media only screen and (max-width : 900px) {
    
}

/* Smaller Smartphones ---------------- */
@media only screen and (max-width : 680px) {
    #main-header {    
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .logo-container {width: 100%;}
    #user-header .right-side-bar .user-search-container input {display: none;}
}