/******************* CSS Layout for USER HEADER section ********************/
#user-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    height: 4rem;
    background: rgb(237, 245, 235);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: navy;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
    /* font-family: Lobster, sans-serif; */
}
.left-side-bar {
    position: relative;
    float: left;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.side-bar-menu-btn {
    position: relative;
    display: inline;
    margin: 0;
    padding: 0;
    width: 2rem;
    height: 2rem;
    border-radius: 0.3125rem;
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #d1d9e0;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
/* hidden by default */
.left-side-panel {
    display: none;
    width: 280px;
    position: fixed;
    z-index: 10;
    height: auto;
    top: 4rem;
    left: 0;
    /* background-color: white; */
    background-color: rgb(237, 245, 235);
    border: solid 1px #d1d9e0;
    border-radius: 5px;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
    padding-top: 2rem;
}
.left-side-panel .close-left-side-panel-btn {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 1.7rem;
    display: block;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}

.right-side-bar {
    position: relative;
    float: right;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar-img {
    border-radius: 3rem;
}

.user-search-container {
    position: relative;
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.3125rem;
    background-color: #fff;
    background-color: rgba(0, 0, 0, 0);
}
.user-search-container input {
    border: none;
    margin: 0;
    padding-left: 0.5rem;
    background: none;
    width: 100%;
}
.user-search-container button {
    position: relative;
    float: right;
    margin: 0;
    padding: 0.25rem;
    background: none;
}
.user-search-container img, .notif-btn img {
    height: 1.5rem;
    width: 1.5rem;
}

.user-search-input:focus-visible {
    outline: none;
}

#account-settings-btn {
    background-color: rgba(0, 0, 0, 0);
    border: solid 1px #d1d9e0;
    padding: 0;
    margin: 0;
}
/* hidden by default */
.account-settings-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 3.5rem;
    /* background-color: white; */
    background-color: rgb(237, 245, 235);
    border: solid 1px #d1d9e0;
    border-radius: 5px;
    width: 10rem;
    box-shadow: 0.125rem 0.125rem 0.125rem rgba(51, 51, 51, 0.3);
}

.account-settings-nav div,
.left-side-panel div {
    position: relative;
    display: block;
    float: left;
    padding: 0.5rem 1rem;
    margin: 0;
    width: 100%;
}
.account-settings-nav div:hover,
.left-side-panel div:hover {
    background-color: #1a685b;
}
.account-settings-nav div:hover a,
.left-side-panel div:hover a {
    color: white;
}
.account-settings-nav div img,
.left-side-panel div img {
    height: 1.2rem;
    width: 1.2rem;
    padding: 0;
    margin: 0;
}
.account-settings-nav div a,
.left-side-panel div a {
    padding: 0.5rem;
    margin: 0;
    text-decoration: none;
    color: black;
}


/******************* CSS Layout for DASHBOARD Main section ********************/
#user-dashboard-main-section {
    position: relative;
    margin-top: 4rem;
    padding: 0;
    width: 100%;
    height: calc(100vh - 10rem);
}

.show {display: block;}



/* Larger desktops and monitors are default layout ----------- */
@media only screen and (max-width : 1700px) {

}

/* Laptops, larger tablets in landscape, and small desktops -- */
@media only screen and (max-width : 1360px) { /* 1280px */
 
}

@media only screen and (max-width : 1200px) {

}

/* Tablets & larger smartphones ------------------------------ */
@media only screen and (max-width : 900px) {
    
}

/* Smaller Smartphones ---------------- */
@media only screen and (max-width : 680px) {
    /* .logo-container {width: 100%;} */
    #user-header .right-side-bar .user-search-container input {display: none;}
}