#user-settings-main-section {
    position: relative;
    margin-top: 4rem;
    padding: 0;
    width: 100%;
    min-height: calc(100vh - 10rem);
    /* 10rem = header + copy right */
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

#settings-left-side-pannel {
    min-height: inherit; /* from user-settings-main-section */
}

#user-settings-content-section {
    position: relative;
    width: 100%;
    max-width: 1024px;
    height: max-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(51, 51, 51, 0.3);
    margin: 2rem;
    padding: 2rem;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}

.user-settings-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1a685b;
    width: 100%;
    text-align: center;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(51, 51, 51, 0.3);
}

.avatar-container {
    position: relative;
    display: inline-block;
}
.current-user-avatar {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    object-fit: cover;
    position: relative;
}
.edit-avatar-btn {
    background-color: rgb(220, 220, 220);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 35px;
    width: 35px;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 130px;
    left: 175px;
}

.current-infor-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    color: #1a685b;
}
.current-infor-container div {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.action-btn-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.action-btn-container button {
    background-color: #1a685b;
    color: white;
    border: none;
    border-radius: 10px;
    /* box-shadow: 0.125rem 0.125rem 0.25rem rgba(51, 51, 51, 0.3); */
    box-shadow: 0 0.45rem 0 rgba(51, 51, 51, 0.2);
    width: 180px;
    padding: 0.8rem 1.6rem;
}
.action-btn-container button:hover {
    /* Khi di chuột vào, dịch chuyển nút xuống 2px */
    transform: translateY(2px);
    /* Giảm box-shadow để nút trông như bị nhấn xuống */
    box-shadow: 0 0.3rem 0 rgba(51, 51, 51, 0.2);
    background-color: #134e44;

}
/* Thêm hiệu ứng khi click vào để hoàn thiện */
.action-btn-container button:active {
    /* Dịch chuyển nút xuống thêm nữa */
    transform: translateY(4px);
    /* Loại bỏ hoàn toàn box-shadow để nút dính vào nền */
    box-shadow: none;
}

.update-profile-form-container, .update-pw-form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: white;
    width: max-content;
    height: max-content;
    min-width: 310px;
    margin: 5rem auto;
    padding: 2rem;
    border-radius: 8px;
    color: #333;

}
.form-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1a685b;
}
.button-group {
    position: relative;
    display: flex;
    justify-content: space-around;
}
.button-group button {
    border-radius: 0.5rem;
    text-align: center;
    padding: 1rem;
    box-shadow: 0.125rem 0.125rem 0.25rem rgba(51, 51, 51, 0.3);
}
.button-group button i {
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.submit-btn {
    background-color: #1a685b;
    color: white;
}

.show {
    display: block;
}
